html,body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-height: 100%;
    background-color: blanchedalmond;
    display: grid;
    grid-gap: .25em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: 
        "food-type empty points"
        "game game game"
        "patience space space"
}

main {
    grid-area: game;
}

canvas {
    width: 100%;
    max-height: 625px;
    background-color: skyblue;
}

#score-display, #food-type-display, #patience-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

#food-type-display {
    grid-area: food-type;
    
}

#score-display {
    grid-area: points;
    
}

#patience-display {
    grid-area: patience;
    
}


